<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="UrhoSharp" version="1.8.50" targetFramework="net452" />
  <package id="UrhoSharp.Forms" version="1.8.71" targetFramework="net452" />
  <package id="UrhoSharp.WinForms" version="1.8.71" targetFramework="net452" />
  <package id="Xamarin.Forms" version="4.8.0.1534" targetFramework="net452" requireReinstallation="true" />
</packages>